.LoadingComponents {
  position: absolute;
  top: 0;
  bottom: left;

  height: 100vh;
  // Bug fix for safari mobile search bar
  max-height: -webkit-fill-available;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;
  .loadingIcon {
    color: white;
    font-size: 60px;
    animation: rotate 1s linear infinite;
  }
}
