.ChatRow {
  height: 70px;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;

  display: flex;
  align-items: center;
  .userIcon {
    color: rgb(0, 0, 0, 0.5);
    font-size: 50px;
    padding: 0 5px 0 5px;
  }
  .contactInfo {
    .friendName {
      font-weight: 500;
    }
    .messagePreview {
      font-size: 10px;
    }
  }
}
