.Message {
  list-style: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  span {
    font-size: 15px;
  }
}
.myMessage {
  text-align: right;
  color: white;
  background-color: rgb(72, 72, 235);
}
.friendMessage {
  background-color: rgb(143, 252, 143);
}
