@use "../variables" as v;

.ProfileBackdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  bottom: left;

  .Profile {
    // Matches menuBar as to not let it spill underneath
    width: clamp(320px, 100vw, 500px);
    height: 100vh;
    min-height: fit-content;

    // Animation properties
    animation: slide-in 300ms forwards;
    transform-origin: left;

    position: absolute;
    top: 0;
    bottom: 0;

    padding: 10px 20px 0 20px;
    background-color: rgb(214, 216, 218);

    // Box Shadow
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    .iconClose {
      margin-left: auto;

      color: white;
      background-color: black;
      border-radius: 50%;
      font-size: 25px;
      cursor: pointer;
    }
    .iconClose:hover {
      background-color: red;
    }

    .profileInformation {
      padding-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      .profilePictureContainer {
        position: relative;
        padding-bottom: 10px;

        display: flex;
        flex-direction: column;
        .profilePicture {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border: solid black 1px;
        }
      }
      .profileName {
        display: flex;
        align-items: center;
        gap: 5px;

        .editNameIcon {
          cursor: pointer;
        }
        .userName {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .profileButtons {
      width: clamp(225px, 30vw, 250px);
      border-radius: 10px;

      .buttonList {
        display: flex;
        flex-direction: column;
        li {
          padding: 10px;
          list-style: none;
          border-radius: 20px;

          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 100%;
            border: solid 2px grey;
            border-radius: 5px;
            padding: 20px;
            background-color: transparent;
            cursor: pointer;
          }
          button:hover {
            background-color: v.$theme-main-bk;
          }
        }
      }
    }

    .socialsContainer {
      padding-bottom: 20px;
      margin-top: auto;

      display: flex;
      gap: 30px;
      li {
        list-style: none;
        .socialIcon {
          font-size: 23px;
          cursor: pointer;
          transition: transform 0.5s;
          font-size: 25px;
        }
        .socialIcon:hover {
          transform: scale(1.2);
          color: v.$theme-main;
          cursor: pointer;
        }
      }
    }
  }
}
