@use "../variables" as v;

.ChangeProfileImage {
  position: absolute;
  bottom: 10px;
  right: 25px;

  .cameraIconLabel {
    background-color: white;
    padding: 8px 5px 2px 5px;
    border-radius: 50%;
    .fileUploadIcon {
      color: black;
      cursor: pointer;
      font-size: 25px;
    }
    .fileUploadIcon:hover {
      color: v.$theme-hover;
    }
  }
  .fileUpload {
    display: none;
  }
}
