.Message {
  list-style: none;
  padding: 5px;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  .messageContent {
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
    padding: 6px;
    word-wrap: break-word;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  // Styling based on sender
  .myMessage {
    height: fit-content;
    margin-left: auto;
    text-align: left;

    color: white;
    background-color: rgb(72, 72, 235);
  }
  .friendMessage {
    height: fit-content;
    margin-right: auto;
    text-align: left;
    background-color: rgb(143, 252, 143);
  }

  .timeStampLeft {
    font-size: 10px;
    text-align: left;
  }
  .timeStampRight {
    font-size: 10px;
    text-align: right;
  }
}
