@use "./variables" as v;

.MenuBar {
  width: clamp(320px, 100vw, 500px);
  height: 100vh;
  // Bug fix for safari bottom search bar
  max-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;

  .navbar {
    height: 50px;

    background-color: white;
    box-shadow: rgba(30, 30, 30, 0.4) 0px 1px 0px;
    ul {
      width: 100%;
      height: 100%;

      padding: 0 10px 0 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        font-size: 20px;
        font-weight: bold;

        .icon {
          cursor: pointer;
          font-size: 23px;
        }
        .icon:hover {
          color: v.$theme-hover !important;
        }
      }
    }
  }
  .chatRowsContainer {
    .activeChat {
      background-color: rgb(230, 230, 230);
    }
  }
  .personalSocialsContainer {
    margin-top: auto;

    height: 50px;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      cursor: pointer;
      .icon {
        font-size: 20px;
      }
      .icon:hover {
        color: v.$theme-hover !important;
      }
    }
  }
}
