@import "./variables";
// Page styling
@import "./Home";
@import "./LandingPage";
// Component styling
@import "./menuBar";
@import "./messagesViewport";
// SubComponents Styling
@import "./_messagesViewportComponents/message";
@import "./_menuBarComponents/chatRow";
@import "./_menuBarComponents/profile";
@import "./_menuBarComponents/addFriends";
@import "./_menuBarComponents/loadingComponents";
// Forms styling
@import "./forms/createAccountForm";
@import "./forms/newMessageForm";
@import "./forms/requestFriendForm";
@import "./forms/changeProfileImageForm";
@import "./forms/updateNameForm";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a:visited,
a {
  color: inherit;
  text-decoration: none;
}

// Dark theme settings
body.dark {
  p,
  .icon,
  li {
    color: white !important;
  }
  .LandingPage {
    background-color: rgb(34, 39, 45);
    form {
      background-color: rgb(45, 51, 59);
    }
  }
  .Home {
    // Both main components share this class for their navbar
    .navbar {
      background-color: rgb(45, 51, 59);
    }
    // First main component
    .MenuBar {
      background-color: rgb(34, 39, 45);
      .ChatRow {
        box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
      }
      .activeChat {
        background-color: rgb(81, 93, 105);
      }

      .Profile,
      .AddFriends {
        background-color: rgb(34, 39, 45);
        .profileButtons {
          button {
            color: white;
          }
          button:hover {
            color: black;
          }
        }
        .title,
        .titleEmpty {
          border: solid rgb(255, 255, 255) 2px !important;
        }
      }
    }

    // Second main component
    .MessagesViewport {
      background-color: rgb(34, 39, 45);
      .friendMessage {
        color: black;
      }
      .NewMessageForm {
        background-color: rgb(45, 51, 59);
      }
    }
  }
}

// Hide scrollbar but still use its functionality
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

// Animation across all icons in the webpage
.icon:hover {
  animation: infinite pulse 2s alternate;
}
@keyframes pulse {
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes spring {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.075);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes drop-in {
  0% {
    transform: scaleX(0.5);
  }
  90% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slide-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
// Used for loading icon to spin while component data is loading
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Media Breakpoints for web app responsiveness
@media (min-width: 680px) {
  .LandingPage {
    aside {
      p {
        display: block;
      }
    }
  }
}
// Indicates our viewport is too small and makes adjustments for our app to swap between components.
@media (max-width: 415px) {
  .Home {
    .MenuBar {
      display: block;
    }

    .MessagesViewport {
      display: none;

      .navbar {
        ul {
          .mobileSwitch {
            pointer-events: all;
            opacity: 100;
          }
        }
      }
    }
  }
  // Will prevent background color on active chat since it's not relevant in mobile mode.
  body.dark {
    .activeChat {
      background-color: transparent !important;
    }
  }
}

// Indicates we can show our components side by side and makes the proper adjustments.
@media (min-width: 416px) {
  .Home {
    .MenuBar {
      min-width: 225px;
      max-width: 400px;
      flex: 1.9;
      border-right: solid rgba(30, 30, 30, 0.4) 1px;

      .Profile,
      .AddFriends {
        min-width: 225px;
        width: clamp(225px, 30vw, 400px);
      }
    }
    .MessagesViewport {
      display: block !important;
      // width: clamp(clamp(200px, 30vw, 400px), 100vw, 100vw - 400px);
      flex: 5;
      border-right: solid rgba(30, 30, 30, 0.4) 1px;

      .navbar {
        ul {
          .mobileSwitch {
            pointer-events: none;
            opacity: 0;
          }
        }
      }
    }
  }
  // Configure colors for dark theme on viewport desktop sze
  body.dark {
    .MenuBar {
      display: block;
      border-right: solid rgba(132, 132, 132, 0.766) 1px;
    }
    .navbar {
      box-shadow: rgba(132, 132, 132, 0.766) 0px 1px 0px;
    }
  }
}
