.Home {
  display: flex;
}

// Indicates our viewport is too small and makes adjustments for our app to swap between components.
@media (max-width: 415px) {
  .Home {
    .MenuBar {
      display: block;
    }

    .MessagesViewport {
      display: none;

      .navbar {
        ul {
          .mobileSwitch {
            pointer-events: all;
            opacity: 100;
          }
        }
      }
    }
  }
}

// Indicates we can show our components side by side and makes the proper adjustments.
@media (min-width: 416px) {
  .Home {
    .MenuBar {
      min-width: 225px;
      max-width: 400px;
      flex: 1.9;
      border-right: solid rgba(30, 30, 30, 0.4) 1px;

      .Profile,
      .AddFriends {
        min-width: 225px;
        width: clamp(225px, 30vw, 400px);
      }
    }
    .MessagesViewport {
      display: block !important;
      // width: clamp(clamp(200px, 30vw, 400px), 100vw, 100vw - 400px);
      flex: 5;
      border-right: solid rgba(30, 30, 30, 0.4) 1px;

      .navbar {
        ul {
          .mobileSwitch {
            pointer-events: none;
            opacity: 0;
          }
        }
      }
    }
  }
  // Configure colors for dark theme on viewport desktop sze
  body.dark {
    .MenuBar {
      display: block;
      border-right: solid rgba(132, 132, 132, 0.766) 1px;
    }
    .navbar {
      box-shadow: rgba(132, 132, 132, 0.766) 0px 1px 0px;
    }
  }
}
