@import "./variables";
// Page styling
@import "./Home";
@import "./LandingPage";
// Component styling
@import "./menuBar";
@import "./messagesViewport";
// SubComponents Styling
@import "./subComponents/message";
@import "./subComponents/chatRow";
@import "./subComponents/profile";
@import "./subComponents/addFriends";
// Forms styling
@import "./forms/createAccountForm";
@import "./forms/newMessageForm";
@import "./forms/requestFriendForm";
@import "./forms/changeProfileImage";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a:visited,
a {
  color: inherit;
  text-decoration: none;
}

// Dark theme settings
body.dark {
  p, .icon, li {
    color: white !important;
  }
  .LandingPage {
    background-color: rgb(34,39,45);
    form {
      background-color: rgb(45,51,59);
    }
  }
  .Home {
    // Both main components share this class for their navbar
    .navbar {
      background-color: rgb(45,51,59);
    }
    // First main component
    .MenuBar {
      background-color: rgb(34,39,45);
      border-right: solid rgba(255, 255, 255, 0.4) 1px;
      .ChatRow {
        box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
      }

      .Profile, .AddFriends {
        background-color: rgb(34,39,45);
      }
    }
    
    // Second main component
    .MessagesViewport {
      background-color: rgb(34,39,45);
      .NewMessageForm {
        background-color: rgb(45,51,59);
      }
    }
  }
}

// Hide scrollbar but still use its functionality
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

@keyframes spring {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.075);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes drop-in {
  0% {
    transform: scaleX(0.5);
  }
  90% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes slide-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
